h1 {
    text-align:center;
}

 body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(230, 194, 226);
 }
   
 hr {
    color-scheme: white;
 }

.figure2{ 
    text-align:center
}